.topnav {
    background-color: rgb(160, 111, 206);
    overflow: hidden;
    text-align: center;
  }
  
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    padding: 25px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    font-weight: bold;
  }
  
  .topnav a.active {
    background-color:rgb(160, 111, 206);
    color: black;
  }
  
  .logo{
    float:left;
}

.section{
    display: flex;
}


.div5 { 
    display: flex;
    background-color:rgb(160, 111, 206) ;
    justify-content: space-between;
    align-items: center;
}

.div2{
    height: fit-content;
    padding-right: 20px;
    font-weight: bold;
}

.div1{
    padding-left: 30px;
}

#email{
    width: 300px;
}

footer{
    background-color:#333;
    color: #ddd;
}

.img1{
    object-fit: cover;
}



